

/********************
    Universal
*********************/

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Cinzel', serif;
}


/********************
    Text
*********************/

.center-text {
    text-align: center;
}

.match-text{
    font-size: 22px;
}

/********************
    header
*********************/

header {
    background-color: #2D2D34;
    font-weight: bold;
    font-size: 32px;
    color: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-left: 10px;
    padding: 5px;
}

h1 {
    text-align: center;
}

/********************
    Content Row
*********************/

.content-row {
    min-height: 100vh;
}

/********************
    Game-Container
*********************/

.game-container {
    background-color: #222;
}

/********************
    Game-info-Container
*********************/

.game-info-container {
    display: flex;
    justify-content: center;
    color: white;
    margin: 45px auto;
    
}

.time-container{
    margin: 0 auto;
}

.turns-container{
    margin: 0 auto;
}

/********************
    Cards
*********************/

.card-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 30px;
    justify-content: center;
    margin-bottom: 45px
}

.card {
    height: 120px;
    width: 80px;
    background-color: transparent;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
}

.card-container .remove {
    display: none;
}

.card.visible {
    transform: rotateY(180deg);
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}

.card-back {
    position: absolute;
    justify-content: center;
    transition: 200ms ease-in-out;
}

.card-back img:hover {
    transform: scale(0.99);
}

.card-front {
    position: absolute;
    transform: rotateY(180deg);

}

.card-front img,
.card-back img {
    height: 100%;
    width: 100%;
}

/********************
    Score-Container
*********************/

.score-container {
    background-color: #733e3e;
    min-height: 100%;
}

.player-info-container {}

.player-stats {
    margin-bottom: 15px;
    background-color: #efd98e;
    border: 1px solid #efd98e;
    margin: 15px auto;
    border-radius: 5px;
}

.divider {
    width: 25%;
    border: 1px solid black;
    margin-top: -5px;
}

.star-greyed {
    color: grey;
}

.star-gold {
    color: #ffcc37;
}



/********************
    Icon-Container
*********************/

.icon-container {
    text-align: center;
    margin-bottom: 20px;
}

.icon {
    width: 50px;
    height: 50px;
    padding: 25px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 0px;
    text-align: center;
    color: #fafafa;
    background: #717171;
    margin: 0px 5px;
    
}

/********************
    Modal Common Styles
*********************/

.modal-color {
    background-color: #949393;
}

.modal-border-color {
    border-color: black;
}

.modal-txtbox {
    background-color: #d4d4d4;
}

.btn-drkred {
    background-color: #7b4e4e;
    border-color: #7b4e4e;
}

.btn-drkred:hover {
    background-color: #734848;
    border-color: #734848;
}

/********************
    Start Modal
*********************/

.mode-select {
    margin: 30px auto;
}

.mode-header {
    margin-bottom: 10px;
}

.btn-mode {
    font-size: 16px;
    color: #2d1c1c;
    font-weight: bold;
    background-color: white;
    height: 50px;
    width: 90px;
    margin-bottom: 10px;
}

#easy-mode:focus,
#medium-mode:focus,
#hard-mode:focus {
    outline: none;
    box-shadow: none;
}

.btn-easy {
    background-color: #c1e082;
}

.btn-easy:hover {
    background-color: #c1e084;
}

.btn-med {
    background-color: #e2bb74;
}

.btn-med:hover {
    background-color: #e2bb76;
}

.btn-hard {
    background-color: #cc5c5c;
}

.btn-hard:hover {
    background-color: #cc5c5f;
}

.btn-active {
    border: 2px solid #ffffaa;
}

#rules-text{
    display: none;
}

.rules-section{
    background-color: #777777;
    border: 1px solid #777777;
    border-radius: 5px;
}

.rules-section p {
    padding: 5px;
    margin-bottom: 2px;
}

/********************
    Media Queries
*********************/

@media(min-width: 768px) {
    .card {
        height: 160px;
        width: 120px;
    }

    .mode-select {
        margin: 30px auto;
    }

    .mode-header {
        margin-bottom: 10px;
    }
    
    .btn-mode {
    font-size: 16px;
    color: #2d1c1c;
    font-weight: bold;
    height: 70px;
    width: 90px;
}
}

@media (min-width: 1200px) {
    h1{
        text-align: left;
    }
    
    .btn-mode {
    font-size: 16px;
    color: #2d1c1c;
    font-weight: bold;
    height: 70px;
    width: 90px;
    margin-bottom: 10px;
}
}
